<tr id="<%= dom_id pacient %>">
  <th scope="row"> <%= pacient.first_name%> </th>
  <td> <%= "#{pacient.first_name} #{pacient.last_name}" %> </td>
  <td> <%= pacient.run %> </td>
  <td> <%= pacient.age %> </td>
  <td> <%= pacient.phone %> </td>
  <td> <%= pacient.email %> </td>
  <td>  </td>
</tr>
