<tr id="<%= dom_id pacient %>">
  <th scope="row"> <%= "#{pacient.first_name} #{pacient.last_name}" %> </th>
  <td> <%= pacient.run %> </td>
  <td> <%= pacient.age %> </td>
  <td> <%= pacient.phone %> </td>
  <td> <%= pacient.email %> </td>
  <td> 
    
  <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Acciones
  </button>
  <ul class="dropdown-menu">
   

  </ul>
</div>

  </td>
</tr>
