<p style="color: green"><%= notice %></p>

<%= render @pacient %>

<div>
  <%# <%= link_to "Edit this pacient", admin_edit_pacient_path(@pacient) %> | %>
  <%# <%= link_to "Back to pacients", pacients_path %> %>

  <%# <%= button_to "Destroy this pacient", @pacient, method: :delete %> %>
</div>
