<%= turbo_frame_tag :modal do %>  
  <div class="py-3 px-2">
    <h3 class="text-center"><%= Dashboard::PacientDecorator.new(@appointment.pacient).full_name %></h3>
    <hr>
      <%= @appointment.description %>
    <hr>
    <p>Horario: <%= @appointment.start_time.strftime("%A %d/%m/%y") %> </p> 
    <div>
    
      <%= link_to "Volver", admin_appointments_path, class:'btn btn-primary' %>

    </div>
  </div>
<% end %>