<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Edit this appointment", edit_admin_appointment_path(@appointment) %> |
  <%= link_to "Back to appointments", admin_appointments_path %>

  <%= button_to "Destroy this appointment", admin_appointment_path(@appointment), method: :delete %>
</div>
