<!DOCTYPE html>
<html>
  <head>
    <title>ClinicaOftamologia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  </head>

  <body class="sb-nav-fixed">

        <%= render "shared/nav_admin" %>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <%= link_to root_path, class:"nav-link align-middle px-0" do %>
                            <i class="fs-4 bi-house text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Home</span>
                        <% end %>
                       
                    </li>
                    <li>
                        
                        <%= link_to admin_dashboard_path, class: 'nav-link px-0 align-middle' do %>
                            <i class="fs-4 bi-speedometer2 text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Dashboard</span> 
                        <% end %>
    

                    </li>
                      <li>
                      <%= link_to admin_pacients_path, class: 'nav-link px-0 align-middle' do %>
                                                          <i class="fs-4 bi-people text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Pacientes</span> 

                      <% end %> 
                      </li>


                    <li>
                      <%= link_to admin_appointments_path, class: 'nav-link px-0 align-middle' do %>
                      <i class="fs-4 bi-table text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Citas</span>

                      <% end %>
                    </li>
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3 mt-5">
            <%= yield %>
        </div>
    </div>
</div>
        <%= turbo_frame_tag :modal %>

  </body>
</html>
